/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.img-center-responsive {
  text-align: center;
}
.img-center-responsive > img {
  height: auto;
  max-width: 100%;
}
.img-center-responsive-link {
  text-align: center;
}
.img-center-responsive-link a > img {
  height: auto;
  max-width: 100%;
}
.alpha-on {
  visibility: visible;
  opacity: 1;
}
.alpha-off {
  visibility: hidden;
  opacity: 0;
}
.img-hflip {
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.list-unstyled {
  margin: 0;
  padding: 0;
}
.list-unstyled li {
  list-style: none;
}
.list-inline {
  margin: 0;
  padding: 0;
}
.list-inline li {
  float: left;
  margin-right: 10px;
}
.inline-radio {
  /*input[type="radio"]{
		display: table-cell;
    vertical-align: middle
}*/
}
.clearfix {
  clear: both;
}
.nofocusborder {
  outline: none;
}
.pull-rigth {
  float: right;
}
.flex-row {
  display: flex;
  /* Safari */
  flex-direction: row;
}
.flex-column {
  display: flex;
  /* Safari */
  flex-direction: column;
}
.flex-none {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}
.flex-xs {
  flex: 1 0 0;
  -webkit-flex: 1 0 0;
}
.flex-sm {
  flex: 2 0 0;
  -webkit-flex: 2 0 0;
}
.flex-md {
  flex: 3 0 0;
  -webkit-flex: 3 0 0;
}
.flex-lg {
  flex: 4 0 0;
  -webkit-flex: 4 0 0;
}
/*

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 5px solid rgba(81, 203, 238, 1);
}

*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
@font-face {
  /*  font-family: LucidaFax;
    src: url(../fonts/911Fonts.com_LucidaFaxRegular.ttf);*/
}
html,
body {
  height: 100%;
  padding: 0;
}
html,
body,
input,
div,
button,
nav,
form,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Lato', sans-serif;
  color: black;
}
/*
html,body{
	background-color: #f2f2f2;
}
*/
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  /* or 950px */
  background-color: white;
}
.full-width {
  width: 100%;
}
div.header {
  text-align: center;
  padding: 10px;
}
div.promo {
  background-image: url('/img/landing/bg-promo.jpg');
  background-size: cover;
  min-height: 500px;
}
form ul.parsley-errors-list {
  margin: 0;
  padding: 0;
}
form ul.parsley-errors-list li {
  list-style: none;
}
form ul.parsley-errors-list li {
  color: red;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
}
.extra-slider {
  padding: 0;
}
li.item.pilar {
  width: 100%;
  /*height: inherit;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;*/
}
li.item.pilar span.pilar-name {
  font-family: 'LucidaFax';
  font-size: 28px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  margin-left: 6%;
}
/*li.item.pilar.proyecto{background-image: url('../img/pilares/proyecto-segunda-republica.jpg');}
li.item.pilar.primero{background-image: url('../img/pilares/proyecto-segunda-republica-1er-pilar.jpg');}
li.item.pilar.segundo{background-image: url('../img/pilares/proyecto-segunda-republica-2do-pilar.jpg');}
li.item.pilar.tercero{background-image: url('../img/pilares/proyecto-segunda-republica-3er-pilar.jpg');}
li.item.pilar.cuarto{background-image: url('../img/pilares/proyecto-segunda-republica-4to-pilar.jpg');}
li.item.pilar.quinto{background-image: url('../img/pilares/proyecto-segunda-republica-5to-pilar.jpg');}*/
/*********************
 *
 * NAVIGATION
 *
 ********************/
.extra-slider .navigation {
  position: static;
}
.extra-slider .navigation a {
  display: block;
  border-radius: 35px;
  overflow: hidden;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  z-index: 50;
  color: white;
  white-space: nowrap;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-out;
}
.extra-slider .navigation a i {
  font-size: 40px;
  position: absolute;
  top: 0px;
  left: -2px;
}
@media (min-width: 768px) {
  .extra-slider .navigation a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease-out;
  }
}
.extra-slider .navigation .prev {
  left: -5px;
}
@media (min-width: 768px) {
  .extra-slider .navigation .prev {
    left: 10px;
  }
}
.extra-slider .navigation .next {
  right: -8px;
}
@media (min-width: 768px) {
  .extra-slider .navigation .next {
    right: 10px;
  }
  .extra-slider .navigation .next i {
    left: 1px;
  }
}
@media (min-width: 1500px) {
  .extra-slider .navigation .prev {
    left: 30px;
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
  .extra-slider .navigation .prev i {
    font-size: 50px;
  }
  .extra-slider .navigation .next {
    right: 30px;
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
  .extra-slider .navigation .next i {
    font-size: 50px;
  }
}
/*********************
 *
 * PAGINATION
 *
 ********************/
div.wrapper {
  height: inherit;
  width: 100%;
}
div.wrapper ul {
  padding: 0;
  height: inherit;
  width: 100%;
  margin: 0px;
}
.extra-slider .pagination {
  margin: 0 0 0 0;
  position: absolute;
  left: 50%;
  bottom: 6px;
  text-align: center;
  z-index: 50;
  width: auto;
  display: none;
}
@media (min-width: 768px) {
  .extra-slider .pagination {
    display: block;
  }
}
.extra-slider .pagination a {
  background: #FFFFFF;
  border: 2px solid transparent;
  color: transparent;
  display: inline-block;
  margin: 0 4px;
  text-indent: 100%;
  white-space: nowrap;
  position: relative;
  left: -50%;
  width: 12px;
  height: 12px;
  border-radius: 20px;
}
.extra-slider .pagination a.extra-slider-link-active {
  background-color: #0077c5;
}
.extra-slider .pagination a:hover {
  border-color: #303030;
}
/*********************
 *
 * CONTENT
 *
 ********************/
.extra-slider li {
  position: absolute;
  margin: auto;
  width: 100%;
}
.extra-slider li img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.home-slider li p {
  color: #FFFFFF;
  font-size: 12px;
  font-family: Georgia, serif;
  font-style: italic;
  margin: 0;
  position: absolute;
  right: 10px;
  bottom: 5px;
  text-align: right;
}
.extra-slider li p a {
  color: #fff799;
  background: transparent;
  text-decoration: none;
}
.extra-slider li p a:hover {
  color: #fff799;
  background: transparent;
  text-decoration: underline;
}
