/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.img-center-responsive {
  text-align: center;
}
.img-center-responsive > img {
  height: auto;
  max-width: 100%;
}
.img-center-responsive-link {
  text-align: center;
}
.img-center-responsive-link a > img {
  height: auto;
  max-width: 100%;
}
.alpha-on {
  visibility: visible;
  opacity: 1;
}
.alpha-off {
  visibility: hidden;
  opacity: 0;
}
.img-hflip {
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.list-unstyled {
  margin: 0;
  padding: 0;
}
.list-unstyled li {
  list-style: none;
}
.list-inline {
  margin: 0;
  padding: 0;
}
.list-inline li {
  float: left;
  margin-right: 10px;
}
.inline-radio {
  /*input[type="radio"]{
		display: table-cell;
    vertical-align: middle
}*/
}
.clearfix {
  clear: both;
}
.nofocusborder {
  outline: none;
}
.pull-rigth {
  float: right;
}
.flex-row {
  display: flex;
  /* Safari */
  flex-direction: row;
}
.flex-column {
  display: flex;
  /* Safari */
  flex-direction: column;
}
.flex-none {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}
.flex-xs {
  flex: 1 0 0;
  -webkit-flex: 1 0 0;
}
.flex-sm {
  flex: 2 0 0;
  -webkit-flex: 2 0 0;
}
.flex-md {
  flex: 3 0 0;
  -webkit-flex: 3 0 0;
}
.flex-lg {
  flex: 4 0 0;
  -webkit-flex: 4 0 0;
}
/*

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 5px solid rgba(81, 203, 238, 1);
}

*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
@font-face {
  /*  font-family: LucidaFax;
    src: url(../fonts/911Fonts.com_LucidaFaxRegular.ttf);*/
}
html,
body {
  height: 100%;
  padding: 0;
}
html,
body,
input,
div,
button,
nav,
form,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Lato', sans-serif;
  color: black;
}
/*
html,body{
	background-color: #f2f2f2;
}
*/
a:hover {
  text-decoration: none;
}
.font-promo {
  font-family: 'Oswald', sans-serif;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  /* or 950px */
}
.full-width {
  width: 100%;
}
div.header {
  padding: 10px;
}
div.header .info {
  padding-top: 20px;
  padding-right: 20px;
  font-weight: 800;
}
div.header img {
  padding-left: 20px;
}
.back-rojo {
  color: white;
  background-color: #922825;
}
.back-azul {
  color: white;
  background-color: #172a9a;
}
div.actividades {
  background-color: #282828;
}
div.actividades h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  padding: 10px;
}
div.actividades div.actividad {
  padding: 0px;
}
div.actividades div.actividad div.wrapper {
  cursor: pointer;
}
div.actividades div.actividad div.wrapper img.color {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: all 0.2s ease-out;
}
div.actividades div.actividad div.wrapper img.color:hover {
  opacity: 1;
}
div.actividades div.actividad div.wrapper div.titulo {
  position: absolute;
  z-index: 100;
  bottom: 30px;
}
div.actividades div.actividad div.wrapper div.titulo span {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  letter-spacing: 10px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 8px;
  display: inline-block;
}
div.promo {
  background-image: url('/img/landing/bg-promo.jpg');
  background-size: cover;
  min-height: 500px;
  padding-top: 110px;
  padding-bottom: 70px;
}
div.promo div.promo-text {
  /*  div.item{
      margin-bottom: 50px;
    }

    span{
      background-color: #922825;
      .font-promo;
      font-size: 60px;
      color: white;
      padding: 0px 10px;
      line-height: 60px;
      letter-spacing: 10px;
      text-align: right;
    }*/
  text-align: right;
}
div.promo div.promo-text img {
  padding-top: 15px;
  padding-right: 20px;
}
div.promo div.frase {
  border-bottom: 1px solid white;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: right;
}
div.promo div.frase span {
  color: white;
  font-weight: 600;
}
div.promo div.frase img {
  margin-left: 20px;
}
div.galeria {
  background-color: #282828;
  padding: 50px 0;
}
div.sedes {
  padding: 50px 0;
}
div.sedes div.sede {
  padding: 0;
  margin: 0;
}
div.sedes div.sede:first-child div.wrapper {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
div.sedes div.sede div.wrapper {
  padding: 20px 30px;
  margin-top: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  min-height: 420px;
}
div.sedes div.sede div.wrapper img {
  width: 100%;
}
div.sedes div.sede div.wrapper p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 800;
}
div.sedes div.sede div.wrapper ul {
  margin: 0;
  padding: 0;
}
div.sedes div.sede div.wrapper ul li {
  list-style: none;
}
div.sedes div.sede div.wrapper ul li {
  color: #222222;
}
form {
  background-color: rgba(255, 255, 255, 0.5);
}
form ul.parsley-errors-list {
  margin: 0;
  padding: 0;
}
form ul.parsley-errors-list li {
  list-style: none;
}
form ul.parsley-errors-list li {
  color: red;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
}
div.home-contacto {
  background-image: url('/img/landing/bg-contacto.jpg');
  background-size: cover;
  padding: 50px 0;
}
div.footer {
  background-color: #282828;
  min-height: 200px;
}
.extra-slider {
  padding: 0;
}
li.item.pilar {
  width: 100%;
  /*height: inherit;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;*/
}
li.item.pilar span.pilar-name {
  font-family: 'LucidaFax';
  font-size: 28px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  margin-left: 6%;
}
/*li.item.pilar.proyecto{background-image: url('../img/pilares/proyecto-segunda-republica.jpg');}
li.item.pilar.primero{background-image: url('../img/pilares/proyecto-segunda-republica-1er-pilar.jpg');}
li.item.pilar.segundo{background-image: url('../img/pilares/proyecto-segunda-republica-2do-pilar.jpg');}
li.item.pilar.tercero{background-image: url('../img/pilares/proyecto-segunda-republica-3er-pilar.jpg');}
li.item.pilar.cuarto{background-image: url('../img/pilares/proyecto-segunda-republica-4to-pilar.jpg');}
li.item.pilar.quinto{background-image: url('../img/pilares/proyecto-segunda-republica-5to-pilar.jpg');}*/
/*********************
 *
 * NAVIGATION
 *
 ********************/
.extra-slider .navigation {
  position: static;
}
.extra-slider .navigation a {
  display: block;
  border-radius: 35px;
  overflow: hidden;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  z-index: 50;
  color: white;
  white-space: nowrap;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-out;
}
.extra-slider .navigation a i {
  font-size: 40px;
  position: absolute;
  top: 0px;
  left: -2px;
}
@media (min-width: 768px) {
  .extra-slider .navigation a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease-out;
  }
}
.extra-slider .navigation .prev {
  left: -5px;
}
@media (min-width: 768px) {
  .extra-slider .navigation .prev {
    left: 10px;
  }
}
.extra-slider .navigation .next {
  right: -8px;
}
@media (min-width: 768px) {
  .extra-slider .navigation .next {
    right: 10px;
  }
  .extra-slider .navigation .next i {
    left: 1px;
  }
}
@media (min-width: 1500px) {
  .extra-slider .navigation .prev {
    left: 30px;
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
  .extra-slider .navigation .prev i {
    font-size: 50px;
  }
  .extra-slider .navigation .next {
    right: 30px;
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
  .extra-slider .navigation .next i {
    font-size: 50px;
  }
}
/*********************
 *
 * PAGINATION
 *
 ********************/
div.wrapper {
  height: inherit;
  width: 100%;
}
div.wrapper ul {
  padding: 0;
  height: inherit;
  width: 100%;
  margin: 0px;
}
.extra-slider .pagination {
  margin: 0 0 0 0;
  position: absolute;
  left: 50%;
  bottom: 6px;
  text-align: center;
  z-index: 50;
  width: auto;
  display: none;
}
@media (min-width: 768px) {
  .extra-slider .pagination {
    display: block;
  }
}
.extra-slider .pagination a {
  background: #FFFFFF;
  border: 2px solid transparent;
  color: transparent;
  display: inline-block;
  margin: 0 4px;
  text-indent: 100%;
  white-space: nowrap;
  position: relative;
  left: -50%;
  width: 12px;
  height: 12px;
  border-radius: 20px;
}
.extra-slider .pagination a.extra-slider-link-active {
  background-color: #0077c5;
}
.extra-slider .pagination a:hover {
  border-color: #303030;
}
/*********************
 *
 * CONTENT
 *
 ********************/
.extra-slider li {
  position: absolute;
  margin: auto;
  width: 100%;
}
.extra-slider li img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.home-slider li p {
  color: #FFFFFF;
  font-size: 12px;
  font-family: Georgia, serif;
  font-style: italic;
  margin: 0;
  position: absolute;
  right: 10px;
  bottom: 5px;
  text-align: right;
}
.extra-slider li p a {
  color: #fff799;
  background: transparent;
  text-decoration: none;
}
.extra-slider li p a:hover {
  color: #fff799;
  background: transparent;
  text-decoration: underline;
}
